.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightblue;
  height: 100px;
}

.wraper {
  display: flex;
  gap: 10px;
  height: 30px;
}

.input {
  width: 400px;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 12px;
  font-weight: 600;
  margin-left: 12px;
}

.button {
  border: 1px solid transparent;
  padding: 0px;
  margin-right: 12px;
  width: 80px;
  background-color: lightslategray;
}
